<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="SolarParkConnectionString" connectionString="Server=tcp:solar-park.database.windows.net,1433;Initial Catalog=solar-park;Persist Security Info=False;User ID=CloudSA300fa341;Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>